*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 90px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration:none ;
    color: #fff; 
    font-size: 17px;
}
.content{
    text-align: center;
    max-width: 600px; /* Batas lebar kontainer */
  padding: 20px;
  border-radius: 15px; /* Sudut melengkung */
  text-align: center;
}
.content h1{
    font-size: 2.5rem; /* Ukuran font */
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    color: #f3e6f3; /* Warna teks */
    background: linear-gradient(90deg, #ecb8f1, #f9f9f9); /* Gradasi warna teks */
    -webkit-background-clip: text; /* Klip ke teks */
    margin: 0 10px; /* Spasi samping */
}      
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    
}
.content p{
    font-size: 1.2rem; /* Ukuran font paragraf */
  font-style: italic; /* Gaya italic */
  color: #f3e6f3; /* Warna teks lembut */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Bayangan ringan */
  margin-top: 10px;
  position: relative;
  display: inline-block;
}
.back-video{
    position: absolute;
    right: 0;
    width: 100%;
  height: auto; /* Pastikan aspek rasio tetap */
  display: block;
  object-fit: cover; /* Pastikan video menyesuaikan */
  z-index: -1; /* Kirim ke belakang */

}